In [7]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

data = {
    'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'],
    'Smoker': ['Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes'],
    'Count': [20, 80, 40, 60, 40, 160, 80, 120]
}

df = pd.DataFrame(data)

table = pd.pivot_table(df, index = 'Gender', columns = 'Smoker', values = 'Count')

stat, p, dof, expected = chi2_contingency(table)
alpha = 0.05

if p < alpha:
    print(f"p-value: {p:.4f}, reject H0")
else:
    print(f"p-value: {p:.4f}, fail to reject H0")

p-value: 1.0000, fail to reject H0

In [8]:
df

  Gender Smoker  Count
0      M    Yes     20
1      M     No     80
2      M     No     40
3      M    Yes     60
4      F    Yes     40
5      F     No    160
6      F     No     80
7      F    Yes    120

In [9]:
table

Smoker   No  Yes
Gender
F       120   80
M        60   40